.footer {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 1rem;
    color: var(--color-light--1);
    bottom: 0;
    /* transform: translateX(50%); */
    font-size: 1.25rem;
    gap: 1rem;
}